In [1]:
import pandas as pd
import numpy as np

In [2]:
#Company Coteq
coteq_df1=pd.read_csv('coteq_electricity_2015.csv')
coteq_df2=pd.read_csv('coteq_electricity_2016.csv')
coteq_df3=pd.read_csv('coteq_electricity_2017.csv')
coteq_df4=pd.read_csv('coteq_electricity_2018.csv')
coteq_df5=pd.read_csv('coteq_electricity_2019.csv')

In [3]:
#Adding Year column in each dataframe
coteq_df1['Year']=2015
coteq_df2['Year']=2016
coteq_df3['Year']=2017
coteq_df4['Year']=2018
coteq_df5['Year']=2019

In [4]:
final_coteq_df=pd.concat([coteq_df1,coteq_df2,coteq_df3,coteq_df4,coteq_df5], ignore_index=True)

In [6]:
final_coteq_df

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,Year
0,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Dorpsstraat,7468CP,7471AA,ENTER,19,89.47,94.74,89,1x35,4122,89.47,0.0,2015
1,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,De Stoevelaar,7471AB,7471AB,GOOR,37,100.00,100.00,86,1x35,1800,94.59,0.0,2015
2,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,De Stoevelaar,7471AC,7471AC,GOOR,16,100.00,100.00,100,1x35,1315,100.00,0.0,2015
3,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,De Stoevelaar,7471AD,7471AE,GOOR,25,92.00,84.00,44,1x35,6379,92.00,0.0,2015
4,Coteq Netbeheer BV,Netbeheerder Centraal Overijssel B.V.,Kerkstraat,7471AG,7471AG,GOOR,14,85.71,100.00,36,1x35,4404,92.86,0.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12570,Cogas Infra & Beheer BV,Netbeheerder Centraal Overijssel B.V.,Sterrebos,7609ZP,7609ZP,ALMELO,27,7.41,100.00,96,1x35,2489,100.00,0.0,2019
12571,Cogas Infra & Beheer BV,Netbeheerder Centraal Overijssel B.V.,Loofgang,7609ZR,7609ZR,ALMELO,29,68.97,100.00,83,1x35,3891,100.00,0.0,2019
12572,Cogas Infra & Beheer BV,Netbeheerder Centraal Overijssel B.V.,Vista,7609ZS,7609ZS,ALMELO,25,60.00,100.00,76,1x35,5050,96.00,0.0,2019
12573,Cogas Infra & Beheer BV,Netbeheerder Centraal Overijssel B.V.,Tuinvaas,7609ZT,7609ZT,ALMELO,18,44.44,100.00,94,1x35,4357,100.00,0.0,2019
12574,Cogas Infra & Beheer BV,Netbeheerder Centraal Overijssel B.V.,Wintertuin,7609ZV,7609ZW,ALMELO,45,66.67,100.00,96,1x35,3935,100.00,0.0,2019

In [7]:
#Company Coteq
liander_df1=pd.read_csv('liander_electricity_01012015.csv')
liander_df2=pd.read_csv('liander_electricity_01012016.csv')
liander_df3=pd.read_csv('liander_electricity_01012017.csv')
liander_df4=pd.read_csv('liander_electricity_01012018.csv')
liander_df5=pd.read_csv('liander_electricity_01012019.csv')

In [8]:
#Adding Year column in each dataframe
liander_df1['Year']=2015
liander_df2['Year']=2016
liander_df3['Year']=2017
liander_df4['Year']=2018
liander_df5['Year']=2019

In [10]:
final_liander_df=pd.concat([liander_df1,liander_df2,liander_df3,liander_df4,liander_df5], ignore_index=True)
final_liander_df

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,Year
0,Liander N.V. (NW),Liander NW,De Ruyterkade Steigers,1011AA,1011AB,AMSTERDAM,32.0,100.00,50.00,28.0,3x25,16049.0,37.50,18.75,2015
1,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AC,1011AC,AMSTERDAM,34.0,100.00,64.71,32.0,3x25,12300.0,26.47,17.65,2015
2,Liander N.V. (NW),Liander NW,Oosterdokskade,1011AD,1011AD,AMSTERDAM,19.0,100.00,5.26,58.0,3x25,3858.0,47.37,0.00,2015
3,Liander N.V. (NW),Liander NW,Oosterdokskade AB,1011AE,1011AE,AMSTERDAM,19.0,100.00,36.84,68.0,3x25,2739.0,31.58,5.26,2015
4,Liander N.V. (NW),Liander NW,Prins Hendrikkade,1011AG,1011AG,AMSTERDAM,12.0,100.00,91.67,50.0,3x25,20770.0,58.33,25.00,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703752,Liander NB,LIANDER,De Lauwers,9873RV,9873RV,GERKESKLOOSTER,48.0,91.67,97.92,100.0,1x25,2992.0,72.92,29.17,2019
703753,Liander NB,LIANDER,De Lauwers,9873RW,9873RW,GERKESKLOOSTER,10.0,90.00,100.00,100.0,3x25,3348.0,60.00,0.00,2019
703754,Liander NB,LIANDER,Izermieden,9873TA,9873TG,GERKESKLOOSTER,26.0,92.31,88.46,100.0,3x25,9606.0,73.08,15.38,2019
703755,Liander NB,LIANDER,Sarabos,9873TH,9873TH,GERKESKLOOSTER,11.0,72.73,72.73,100.0,3x25,12344.0,72.73,36.36,2019
703756,Liander NB,LIANDER,Kolonelsdiep,9873TJ,9901ER,GERKESKLOOSTER,8.0,37.50,75.00,100.0,3x25,5526.0,62.50,37.50,2019

In [11]:
final_liander_df.to_csv('liander2015-2019.csv')
final_coteq_df.to_csv('coteq2015-2019.csv')

In [12]:
final_liander_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703757 entries, 0 to 703756
Data columns (total 15 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   net_manager                   703757 non-null  object
 1   purchase_area                 264362 non-null  object
 2   street                        703757 non-null  object
 3   zipcode_from                  703757 non-null  object
 4   zipcode_to                    703757 non-null  object
 5   city                          703757 non-null  object
 6   num_connections               703757 non-null  float64
 7   delivery_perc                 703757 non-null  float64
 8   perc_of_active_connections    703757 non-null  float64
 9   type_conn_perc                703757 non-null  float64
 10  type_of_connection            703757 non-null  object
 11  annual_consume                703757 non-null  float64
 12  annual_consume_lowtarif_perc  703757 non-null  float64
 13  smartmeter_perc               703757 non-null  float64
 14  Year                          703757 non-null  int64
dtypes: float64(7), int64(1), object(7)
memory usage: 80.5+ MB

In [13]:
enexis_df=pd.read_csv(r'enexis_electricity_01012015.csv')
enexis_df1=pd.read_csv(r'enexis_electricity_01012016.csv')
enexis_df2=pd.read_csv(r'enexis_electricity_01012017.csv')
enexis_df3=pd.read_csv(r'enexis_electricity_01012018.csv')
enexis_df4=pd.read_csv(r'enexis_electricity_01012019.csv')

In [14]:
enexis_df['Year']=2015
enexis_df1['Year']=2016
enexis_df2['Year']=2017
enexis_df3['Year']=2018
enexis_df4['Year']=2019

In [15]:
final_enexis_df=pd.concat([enexis_df,enexis_df1,enexis_df2,enexis_df3,enexis_df4], ignore_index=True)
final_enexis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588891 entries, 0 to 588890
Data columns (total 15 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   net_manager                   588891 non-null  object
 1   purchase_area                 588891 non-null  object
 2   street                        588891 non-null  object
 3   zipcode_from                  588891 non-null  object
 4   zipcode_to                    588891 non-null  object
 5   city                          588891 non-null  object
 6   delivery_perc                 588309 non-null  float64
 7   num_connections               588891 non-null  int64
 8   perc_of_active_connections    588891 non-null  int64
 9   type_conn_perc                588891 non-null  float64
 10  type_of_connection            588822 non-null  object
 11  annual_consume                588891 non-null  float64
 12  annual_consume_lowtarif_perc  588891 non-null  float64
 13  smartmeter_perc               588891 non-null  float64
 14  Year                          588891 non-null  int64
dtypes: float64(5), int64(3), object(7)
memory usage: 67.4+ MB

In [16]:
endinet_df=pd.read_csv(r'endinet_electricity_01012015.csv')
endinet_df1=pd.read_csv(r'endinet_electricity_01012016.csv')

In [17]:
endinet_df['Year']=2015
endinet_df['Year']=2016

In [18]:
final_endinet_df=pd.concat([endinet_df,endinet_df1], ignore_index=True)
final_endinet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9115 entries, 0 to 9114
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   net_manager                   9115 non-null   object
 1   purchase_area                 9115 non-null   int64
 2   street                        9115 non-null   object
 3   zipcode_from                  9115 non-null   object
 4   zipcode_to                    9115 non-null   object
 5   city                          9115 non-null   object
 6   num_connections               9115 non-null   float64
 7   delivery_perc                 9115 non-null   float64
 8   perc_of_active_connections    9115 non-null   float64
 9   type_conn_perc                9115 non-null   int64
 10  type_of_connection            9115 non-null   object
 11  annual_consume                9115 non-null   int64
 12  annual_consume_lowtarif_perc  9115 non-null   float64
 13  smartmeter_perc               9115 non-null   float64
 14  Year                          4550 non-null   float64
dtypes: float64(6), int64(3), object(6)
memory usage: 1.0+ MB

In [19]:
rendo_df1 = pd.read_csv('rendo_electricity_2015.csv')
rendo_df2 = pd.read_csv('rendo_electricity_2016.csv')
rendo_df3 = pd.read_csv('rendo_electricity_2017.csv')
rendo_df4 = pd.read_csv('rendo_electricity_2018.csv')
rendo_df5 = pd.read_csv('rendo_electricity_2019.csv')

In [20]:
rendo_df1['year']=2015
rendo_df2['year']=2016
rendo_df3['year']=2017
rendo_df4['year']=2018
rendo_df5['year']=2019

In [21]:
final_rendo_df=pd.concat([rendo_df1,rendo_df2,rendo_df3,rendo_df4,rendo_df5], ignore_index=True)
final_rendo_df

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,year
0,8716912000008,871691280000000008,Stationsplein,7901AA,7901AA,HOOGEVEEN,41.0,100.00,100.0,73.0,1x40,3663,2015
1,8716912000008,871691280000000008,Stationsstraat,7901AB,7901AB,HOOGEVEEN,16.0,87.50,100.0,63.0,3x25,7004,2015
2,8716912000008,871691280000000008,Crerarstraat,7901AC,7901AC,HOOGEVEEN,17.0,100.00,100.0,94.0,1x25,2586,2015
3,8716912000008,871691280000000008,Crerarstraat,7901AD,7901AD,HOOGEVEEN,18.0,100.00,100.0,72.0,1x25,3177,2015
4,8716912000008,871691280000000008,Crerarstraat,7901AE,7901AG,HOOGEVEEN,19.0,94.74,100.0,89.0,3x25,5183,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7377,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XK,8343XK,ZUIDVEEN,17.0,NaN,NaN,65.0,3x25,5814,2019
7378,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XL,8343XL,ZUIDVEEN,20.0,NaN,NaN,40.0,1x25,11815,2019
7379,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XM,8343XM,ZUIDVEEN,19.0,NaN,NaN,63.0,3x25,4139,2019
7380,8716912000008,871691280000000008,Leemkoele,8343XN,8343XN,ZUIDVEEN,18.0,NaN,NaN,56.0,1x40,2469,2019
7381,8716912000008,871691280000000008,De Klim,8343XP,8343XR,ZUIDVEEN,33.0,NaN,NaN,36.0,1x40,4599,2019

In [22]:
stedin_df1 = pd.read_csv('stedin_electricity_2015.csv')
stedin_df2 = pd.read_csv('stedin_electricity_2016.csv')
stedin_df3 = pd.read_csv('stedin_electricity_2017.csv')
stedin_df4 = pd.read_csv('stedin_electricity_2018.csv')
stedin_df5 = pd.read_csv('stedin_electricity_2019.csv')

In [23]:
stedin_df1['year']=2015
stedin_df2['year']=2016
stedin_df3['year']=2017
stedin_df4['year']=2018
stedin_df5['year']=2019

In [24]:
final_stedin_df=pd.concat([stedin_df1,stedin_df2,stedin_df3,stedin_df4,stedin_df5], ignore_index=True)
final_stedin_df

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
0,8716874000009,Stedin Utrecht,Gijsbrecht van Amstelln,1181EJ,1231AB,AMSTELVEEN,33,96.97,93.94,79.0,3x25,5527,81.82,9.09,2015
1,8716874000009,Stedin Utrecht,Rembrandtlaan,1231AC,1231AC,LOOSDRECHT,17,100.00,100.00,41.0,1x25,3295,76.47,0.00,2015
2,8716874000009,Stedin Utrecht,Rembrandtlaan,1231AD,1231AD,LOOSDRECHT,17,100.00,100.00,47.0,3x25,3852,70.59,0.00,2015
3,8716874000009,Stedin Utrecht,Jan Steenlaan,1231AE,1231AE,LOOSDRECHT,20,100.00,100.00,45.0,1x25,4218,85.00,0.00,2015
4,8716874000009,Stedin Utrecht,Pieter de Hooghlaan,1231AG,1231AG,LOOSDRECHT,17,100.00,100.00,71.0,1x25,3781,64.71,0.00,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418263,8716892000005,Stedin,Tiendweg,4247EV,4247EV,KEDICHEM,17,76.47,100.00,47.0,3x25,16981,88.24,52.94,2019
418264,8716892000005,Stedin,Hooglandse Tiendweg,4247EW,4247EX,KEDICHEM,29,86.21,100.00,48.0,3x25,7002,75.86,44.83,2019
418265,8716892000005,Stedin,Vijfmolens,4247EZ,4247EZ,KEDICHEM,16,87.50,100.00,94.0,1x35,2459,87.50,81.25,2019
418266,8716892000005,Stedin,Burgemeester Schefferhof,4247GA,4247GA,KEDICHEM,18,83.33,100.00,89.0,1x35,3588,100.00,83.33,2019
418267,8716892000005,Stedin Utrecht,Meester Vermeulenstraat,4247GC,9999ZZ,KEDICHEM,19,94.74,100.00,63.0,3x25,11619,100.00,84.21,2019

In [25]:
endurise_df_2015 = pd.read_csv('enduriselectricity_01012015.csv')
endurise_df_2016 = pd.read_csv('enduriselectricity_01012016.csv')
endurise_df_2017 = pd.read_csv('enduriselectricity_01012017.csv')
endurise_df_2018 = pd.read_csv('enduriselectricity_01012018.csv')
endurise_df_2019 = pd.read_csv('enduriselectricity_01012019.csv')

In [26]:
endurise_df_2015['Year']=2015
endurise_df_2016['Year']=2016
endurise_df_2017['Year']=2017
endurise_df_2018['Year']=2018
endurise_df_2019['Year']=2019

In [27]:
final_enduris_df=pd.concat([endurise_df_2015,endurise_df_2016,endurise_df_2017,endurise_df_2018,endurise_df_2019], ignore_index=True)

In [28]:
final_enduris_df.drop('Ã¯Â»Â¿NETBEHEERDER', axis=1)

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,Year
0,8.716902e+12,Enduris Netgebied,Poststraat,4301AA,4301AA,ZIERIKZEE,15,100.00,100.00,"80,00",3x25,7524,73.33,6.67,2015
1,8.716902e+12,Enduris Netgebied,Poststraat,4301AB,4301AD,ZIERIKZEE,34,100.00,100.00,"64,71",3x25,8316,50.00,14.71,2015
2,8.716902e+12,Enduris Netgebied,Korte St. Janstraat,4301AE,4301AE,ZIERIKZEE,17,100.00,100.00,"82,35",3x25,7882,47.06,5.88,2015
3,8.716902e+12,Enduris Netgebied,Fonteine,4301AG,4301AH,ZIERIKZEE,31,100.00,100.00,"64,52",1x35,3278,45.16,16.13,2015
4,8.716902e+12,Enduris Netgebied,Lange St. Janstraat,4301AJ,4301AJ,ZIERIKZEE,17,100.00,100.00,"64,71",1x35,1679,29.41,5.88,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48474,NaN,Enduris Netgebied,Hikseweg,4698RJ,4698RJ,OUD-VOSSEMEER,11,90.91,100.00,"72,73",3x25,3719,63.64,45.45,2019
48475,NaN,Enduris Netgebied,Vogelsangsedijk,4698RK,4698RL,OUD-VOSSEMEER,21,100.00,95.24,"76,19",3x25,3823,80.95,71.43,2019
48476,NaN,Enduris Netgebied,Veerstraat,4698RM,4698RM,OUD-VOSSEMEER,26,92.31,92.31,"80,77",3x25,2907,76.92,65.38,2019
48477,NaN,Enduris Netgebied,Haven,4698RN,4698RS,OUD-VOSSEMEER,34,79.41,100.00,"61,76",1x35,3190,79.41,67.65,2019
48478,NaN,Enduris Netgebied,Willem van Beierenstraat,4698RT,4698RV,OUD-VOSSEMEER,66,84.85,95.45,"59,09",1x35,3259,86.36,81.82,2019

In [29]:
westland_df_2015 = pd.read_csv('westland-infra_electricity_2015.csv')
westland_df_2016 = pd.read_csv('westland-infra_electricity_2016.csv')
westland_df_2017 = pd.read_csv('westland-infra_electricity_2017.csv')
westland_df_2018 = pd.read_csv('westland-infra_electricity_2018.csv')
westland_df_2019 = pd.read_csv('westland-infra_electricity_2019.csv')

In [30]:
westland_df_2015['Year']=2015
westland_df_2016['Year']=2016
westland_df_2017['Year']=2017
westland_df_2018['Year']=2018
westland_df_2019['Year']=2019

In [31]:
final_westland_df=pd.concat([westland_df_2015,westland_df_2016,westland_df_2017,westland_df_2018,westland_df_2019], ignore_index=True)

In [32]:
final_endinet_df.to_csv('Consolidated_endinet_2015-2016.csv')
final_enexis_df.to_csv('Consolidated_enexis_2015-2019.csv')
final_rendo_df.to_csv('Consolidated_rendo_2015-2019.csv')
final_stedin_df.to_csv('Consolidated_stedin_2015-2019.csv')
final_westland_df.to_csv('Consolidated_westland.csv')
final_enduris_df.to_csv('Consolidated_enduris.csv')